body{
    background-color: rgb(237, 250, 255);
    color: maroon;
    font-family: Arial;
    margin: 0px
}

main{
    background-color: rgb(237, 250, 255);
    color: maroon;
    font-family: Arial;
    margin: 10px
}

footer{
    background-color: lightsalmon;
    color:darkred;
    font-family: Arial;
    margin: 0px
}

header{
    background-color: lightsalmon;
    color:darkred;
    font-family: Arial;
    margin: 0px
}

a:link, a:visited {
    text-decoration:none;
    color:maroon;
 }